.sc-block {

}

.sc-block-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    @media (max-width: $mobile-l) {
        margin-bottom: 16px;
    }
}

.sc-block-header__title {

}

.sc-block__list {
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) {
        margin-bottom: 12px;
    }
}