.sc-card {
    width: 100%;
    background: #fff;
    border: 1px solid $border-light;
    border-radius: 4px;
    transition: $tr;

    &:hover {
        
        @media (min-width: $min-hover) {
            box-shadow: 0 4px 15px rgba(0,0,0,.08);
        }
    }
} 

.sc-card__header {
    // min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sc-card__header-content {
    flex: 1 0 auto;
    padding: 15px 20px 15px 24px;

    @media (max-width: $mobile-l) {
        padding: 14px 16px 14px 16px;
    }

    &:hover {
        
        @media (min-width: $min-hover) {
            
            & .sc-card__title {
                color: $accent;
            }
        }
    }

    &:active {
        
        @media (min-width: $min-hover) {
            
            & .sc-card__title {
                color: brig-color($accent, 10%)
            }
        }
            
        & .sc-card__title {
            color: $accent;
        }
    }
}

.sc-card__title {
    font-size: 17px;
    font-weight: 600;
    color: $text-main;
    transition: $tr;

    @media (max-width: $mobile-l) {
        font-size: 15px;
    }
}

.sc-card__url {
    font-size: 13px;
    font-weight: 500;
    color: $text-second;

    @media (max-width: $mobile-l) {
        font-size: 12px;
    }
}

.sc-card__tools {
    display: flex;
    align-items: center;
    padding: 15px 24px 15px 0;

    @media (max-width: $mobile-l) {
        padding: 14px 16px 14px 0;
    }

    &::before {
        content: '';
        width: 1px;
        height: 27px;
        background: $border-light;
        margin: 0 20px;
    }
}

.sc-card__validator {
    position: relative;

}

.sc-card__validator-icon {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: -2px;
        right: -2px;
        width: 10px;
        height: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: #fff;
        border-radius: 50%;
        background: #bdbdbd;
        pointer-events: none;
    }

    &._valid {

        &::after {
            background: $success;
        }
    }

    &._not-valid {

        &::after {
            background: $error;
        }
    }

    &._not-founded {

        &::after {
            content: '-';
            background: $error;
        }
    }

    &:hover {

        & + .validator-tooltip {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.validator-tooltip {
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translate(-50%, -100%);
    width: max-content;
    background: #fff;
    border-radius: 4px;
    padding: 12px 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    opacity: 0;
    pointer-events: none;
    transition: $tr;

    @media (max-width: 1110px) {
        top: 50%;
        left: -8px;
        transform: translate(-100%, -50%);
    }
}

.validator-tooltip__list {

}

.validator-tooltip__item {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    padding-left: 12px;

    &::before {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        width: 8px;
        height: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        color: #fff;
        border-radius: 50%;
    }

    &:not(:last-child) {
        margin-bottom: 4px;
    }

    &_nfp {

        &::before {
            content: '-';
            background: $error;
        }
    }

    &_error {

        &::before {
            background: $error;
        }
    }

    &_warning {

        &::before {
            background: $warning;
        }
    }

    &_valid {

        &::before {
            background: $success;
        }
    }

    & span {
        font-weight: 500;
    }
}