.title_h2 {
    font-size: 32px;
    font-weight: 500;
    // margin: 1rem 0 2rem;

    @media (max-width: $tablet) {
        font-size: 28px;
    }

    @media (max-width: $mobile-l) {
        font-size: 24px;
    }
}

.title_h3 {
    font-size: 24px;
    font-weight: 400;
    // margin: .6rem 0 1.2rem;

    @media (max-width: $tablet) {
        font-size: 22px;
    }

    @media (max-width: $mobile-l) {
        font-size: 18px;
    }
}